<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#m{
  position: relative;
  top:300px;
  min-width: 10%; 
  min-height: 10%;
}

.content {
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.7);
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  padding: 20px;
}


</style>
</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="static/bg.mp4" type="video/mp4">
</video>

<div class="content">
  <div class="topnav" id="myTopnav" style="background-color:radial-gradient(rgba(255, 252, 252, 0.6),rgba(0,0,0,0));color:azure;height: 144px;font-size:20px;width:100%;display:flex;justify-content:space-evenly;align-items:center">
    <img src="static/il_fullxfull.2240394309_otqr.webp" style="height:72px;left:0px">
    <h2 style="top:0px;left:144px">Wolff Parkinson White Syndrome</h2>
       <a  href='index'> <button style="background-color:rgba(0, 0, 0, 0.0);color:rgb(255, 255, 255);height:50px;width:50px;font-size: medium;border:none"><b>Home</b></button></a>
       <a  href='detect'> <button style="background-color:rgba(0, 0, 0, 0.0);color:rgb(255, 255, 255);height:50px;width:70px;font-size: medium;border:none"><b>Detect</b></button></a>
       <a  href='sy'>  <button  style="background-color:rgba(0, 0, 0, 0.0);color:rgb(255, 255, 255);height:50px;width:95px;font-size: medium;border:none"><b>Symptoms</b></button></a>
       <a  href='ce'> <button   style="background-color:rgba(0, 0, 0, 0.0);color:rgb(255, 255, 255);height:50px;width:160px;font-size: medium;border:none"><b>Medical Centres</b></button></a>
       <a  href='Tr'> <button   style="background-color:rgba(0, 0, 0, 0.0);color:rgb(255, 255, 255);height:50px;width:120px;font-size: medium;border:none"><b>Treatment</b></button></a>
  </div>
<br>
<center>
<div class="box"  style="width:80%;min-height: 350px;">
  <img src="static/Medical-Animation-Showing-Wolff-Parkinson-White-Syndrome.jpg" style="height: 300px;position:absolute;left:140px">  
  <h1 style="position:relative;left:35%;top:10%">Wolff Parkinson Detection</h1>
  <form style="position:absolute;right:10%;top:280px" action="/Detect" method="post" enctype="multipart/form-data">
    <label>Enter your name:</label>
    <input type="text" name="name" placeholder="Enter your full name :"/>
    <h2>To upload the .mat file:</h2>

    <input type="file" name="mat" />
  <br>
  <h2>To upload the .hea file:</h2>
  <input type="file" name="hea" />
  <br>
  <br>
  <input type = "submit"  style="background-color: rgb(0, 0, 0,0.8);color:#ffffff;height:40px;width:80px;font-size: medium;border-radius: 10px;border-color: #cbc0c0;" placeholder="Test" value="Upload">
</form>
</center> 
</div>
<h1 style="position:absolute;top:80%;right:80%;color:#f1f1f1">Test Results: </h1>
<div class="box" style="position:absolute;top:82%;right:70%">
  <h2 style="color:yellow">{{ pred }}</h2>
</div></h2> 
</body>
</html>
    